body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 2000px; 
  }
  .scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f3f3f3;
  }
  .scroll-indicator-bar {
    height: 5px;
    background-color: #4caf50;
    width: 0%;
    transition: width 0.1s ease ;
  }