* {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  width: 100%;
  color: honeydew;
  font-size: 1.5rem;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: honeydew;
  list-style: none;
  font-family: inherit;

}
header{
  width: 100%;
   background: rgb(141, 49, 254);
   position: fixed;
   top: 0;
   left: 0;
}
.container{
  margin: auto;
  display: flex;
  padding: 10px 30px;
  justify-content:space-between;
  position: relative;
}
/*  ===============mobile resposice navbar================ */
.navbar{
  
  left: -200px;
  max-width: 200px;
  width: 100%;
  list-style: none;
  position: absolute;
  text-align:center;
  top: 50px;
  background: rgb(148, 63, 251);
  padding: 20px 30px;
  visibility: hidden;
  transition: 0.3s ease;
}
.navbar.active {
  visibility: visible;
  transform: translateX(200px);
}
.navbar .list{
  padding: 10px;
}
li a:hover{
  color:rgba(252, 0, 185, 0.948);
}
/* drop down */
.services{
  position: relative;
}
.dropdown{
   display: none;
  position: absolute;
  background: blueviolet;
  z-index: 10;
  top: 0px;
  left: 130px;
  width: 180px;
  padding: 8px;
}
.dropdown .sub-list{
   list-style: none;
   padding: 5px;
}
.services:hover .dropdown{
   display: block;
  
}



/* ======================menu toggle btn============== */

ion-icon{
  font-size: 30px;
  cursor: pointer;
}

.btn.active .open,
.btn .close {
  display: none;
}

.btn.active .close,
.btn .open {
  display: block;
}
/*=================big screen resposive navbar===============*/
@media (min-width:768px){
  .container{
    /* justify-content: space-between; */
    align-items: center;
  }
  .navbar{
    all:unset;
    display:flex;
    gap:20px;
  }
  .btn{
   display: none;
  }
  .list{
    list-style: none;
  }
  .dropdown{
   
  top: 55px;
  left: -30px;
 
}
}