* {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  transition: transform 0.5s ease-in-out;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.hamburger {
  display: none;
}

 .menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
} 

.nav-links a {
  color: white;
  text-decoration: none;
}


.nav-links .dropdown {
  position: relative;
}

.nav-links .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out; 
  transform: translateY(-10px);
  opacity: 0;
}

.nav-links .dropdown:hover .dropdown-menu {
  display: block;
  transform: translateY(0);
  opacity: 1;
}

.nav-links .dropdown-menu a {
  color: white; 
 text-decoration: none;
  padding: 10px 20px;
  display: block;
}

/* Mobile Menu Styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: hidden;
    flex-direction: column;
    gap: 3rem;
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 2rem 5rem ;
  }

  .nav-links.active {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }

  .nav-links {
    transform: translateX(100%);
  }
}
