*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
}
body{
    background-color: rgb(25, 4, 44);
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
header{
    max-width: 100%;
    width: 100%;
    background-color: rgb(142, 33, 142);
    position: relative;
   
}
navbar{
    margin: auto;
    width: 90%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 15px;
}

.logo{
    font-size: 25px;
}
/* ==============menu btn ========================== */

 ion-icon{
    font-size: 30px;
    transition:transform 0.3s ease;
} 
/* ==============menu btn animation========== */

.menu-btns.active ion-icon{
    transform: rotate(180deg);
}

.menu-btns.active .open , .menu-btns .close{
    display: none;
}
.menu-btns.active .close , .menu-btns .open{
    display: block;
}

/*============ menu list========================== */
.menu-list{
   background-color: rgb(125, 0, 171);
   position: absolute;
   width: 200px;
   left: 0px;
   top: 60px;
   padding: 10px;
   text-align: center;
   visibility: hidden;
   transition: 0.5s ease;
    transform: translateX(-200px);
}
.menu-list.active{
  transform: translateX(0);
   visibility: visible;
}

.menu-list li{
    padding: 15px;
       font-size: 1.2rem;
     scale: 1;
}
.menu-list li:hover{
    scale: 1.1;
}
.services{
    position: relative;
}
.services:hover .sub-list{
     display: block;
    
}
.sub-list{
    position: absolute;
    left: 180px;
    top: 10px;
    width: 150px;
    background-color: blueviolet;
    display: none;
}

/* ===============resposive for wide screen================ */
@media(min-width:768px){
.menu-list{
    all: unset;
    display: flex;
}
.menu-btns{
    display: none;
}

.sub-list{
    position: absolute;
    left: -25px;
    top: 50px;
    width: 150px;
    background-color: blueviolet;
    display: none;
}

}

