*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: palevioletred;
  color: white;
  padding: 15px 50px;

}
h1{
    font-size: 25px;
    letter-spacing: 2px;
}

.toggle-btn{
  width: 40px;
  height: 20px;
  background: white;
  border-radius: 50px;
   position: relative;
   appearance: none;
  transition: 0.25 ease;
   cursor: pointer;
}
.toggle-btn::before{
  content: '';
   width: 16px;
   height: 16px;
   top: 2px;
   left: 2px;
   border-radius: 50%;
   background-color: palevioletred;
   position: absolute;
    transition: 0.3 ease;
} 
.dark-mode .toggle-btn::before{
   left: 22px;
} 
.dark-mode{
   background-color: black;
}


























































/* *{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(92, 92, 92);
  color: white;
  padding: 1% 10% ;
}
.toggle-btn {
  width: 40px;
  height: 20px;
  appearance: none;
  background: lightblue;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transform:  0.25s ease;
}

.toggle-btn::before {
  content: '';
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 2px;
  transition: 0.3s;
}
.dark-mode .toggle-btn::before {
  left: 20px;
  background:black;
}
.dark-mode {
  background-color: #121212;
}
 */
