 body {
      background-color: #f4f4f9;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .product-card {
      width: 200px;
      margin: 10px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.3s;
    }

    .product-card:hover {
      transform: scale(1.05);
    }

    .product-image {
      width: 100%;
      height: 140px;
      object-fit: cover;
    }

    .product-details {
      padding: 10px;
      text-align: center;
    }

    .product-title {
      font-size: 18px;
      margin: 10px 0;
    }

    .product-price {
      font-size: 16px;
      color: #0078ff;
    }

    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      justify-content: center;
      align-items: center;

    }

    .modal-content {
      background-color: #fff;
      border-radius: 8px;
      max-width: 300px;
      padding: 20px;
      text-align: center;
      position: relative;
      transition: transform 0.3s ease;
    }

    .modal-content img {
      width: 100%;
      height: 200px;
      object-fit: contain;
      transition: transform 0.3s ease;
    }

    .modal-content h2 {
      margin-top: 20px;
    }

    .modal-content p {
      font-size: 16px;
      color: #555;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      color: #333;
      cursor: pointer;
    }
  