body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
}

#product-container {
    margin-bottom: 30px;
}

.product {
    margin-bottom: 10px;
}

#product-container .product button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#product-container .product button:hover {
    background-color: #45a049;
}

#wishlist-container ul {
    list-style-type: none;
    padding: 0;
}

#wishlist-container li {
    padding: 5px;
    background-color: #f2f2f2;
    margin: 5px 0;
}

#wishlist-container button {
    padding: 8px 12px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
}

#wishlist-container button:hover {
    background-color: #e60000;
}
