* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0d5ed0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rating-box {
    position: relative;
    background: white;
    padding: 25px 50px 35px;
    border-radius: 25px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
}

.rating-box header {
    font-size: 22px;
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.rating-box .stars {
    display: flex;
    align-items: center;
    gap: 25px;
}

.stars ion-icon {
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.stars ion-icon.active {
    color: #ff9c1a;
}