body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    border: 4px solid #3f75ab;
    border-top: 4px solid #c4c4c4;
    border-radius: 50%;
    width: 15px;  
    height: 15px; 
   animation: spin 1s linear infinite;
    display: block;
}
.content {
    display: none;
}
@keyframes spin{
0%{transform: rotate(0deg);}
100%{transform: rotate(360deg);}
}